.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-color: #8006e3;
  color: white;
  height: 90vh;
}

.main-heading {
  font-size: 70px;
  font-weight: bold;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.main-description {
  font-size: 25px;
  text-align: center;
}

.details-background {
  background-color: rgb(255 255 255/var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
  border-radius: 10px;
  padding: 15px;
  margin: 15px;
  font-size: 20px;
}


@media screen and (max-width:768px) {
  .home-container {
    height: 100vh;
  }

  .main-heading {
    font-size: 35px;
  }

  .main-description {
    font-size: 20px;
  }

  .details-background {
    font-size: 17px;
    padding: 10px;
  }
}